

<%= form_with(model: mood) do |form| %>
  <% if mood.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mood.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% mood.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <%= form.label :tastes %>
  <br>

  <% Mood::TASTES.each do |key| %>
    <br>
    <%= form.check_box :tastes, { multiple: true, checked: form.object.tastes&.include?(key.to_s) }, key, nil %>
    <%= form.label key %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
