
<%= form_with(model: mood) do |form| %>
  <% if mood.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mood.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% mood.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label "Name" %>
    <br>
    <%= form.text_field :name, required: true %>
  </div>
  <br>
  <div class="field">
    <%= form.label :tastes %>
    <% Mood::TASTES.each do |key| %>
      <%= form.check_box :tastes, { multiple: true, checked:form.object.tastes&.include?(key.to_s) }, key, nil %>
      <%= form.label key %>
    <% end %>
 </div>
  <div class="field">
    <%= form.label :query %>
    <% Mood::QUERY.each do |key| %>
      <%= form.radio_button :query, key %>
      <%= form.label key %>
    <% end %>
    </div>
    <div class="actions">
      <%= form.submit %>
    </div>
    <% end %>
  </div>


  <%# RANGE %>
  <%# MIN price %>
  <%# MAX price %>
