
<%= form_with(model: mood) do |form| %>
  <% if mood.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mood.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% mood.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label "Name" %>
    <%= form.text_field :name, required: true %>
  </div>
  <br>
  <div class="field">
    <%= form.label :tastes %>
    <% Mood::TASTES.each do |key| %>
      <%= form.check_box :tastes, { multiple: true, checked:form.object.tastes&.include?(key.to_s) }, key, nil %>
      <%= form.label key %>
    <% end %>
 </div>
  <div class="field">
    <%= form.label :query %>
    <% Mood::QUERY.each do |key| %>
      <%= form.radio_button :query, key %>
      <%= form.label key %>
    <% end %>
    </div>
    <%= form.range_field :near, in: 1000..10_000, :step => 1000 %>
  </div>
    <div class="field">
      <%= form.label :min_price %>
      <%= form.number_field :min_price, in: 1..4 %>
      <%= form.number_field :max_price, in: 1..4 %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>





  <%# RANGE %>
  <%# MIN price %>
  <%# MAX price %>
