<div class="">
  <h1> Meus moods</h1>
</div>

</div>
    <div class="card bg-light mb-3" style="max-width: 18rem;">
      <% @moods.each do |mood| %>
        <% if mood.user_id == current_user.id %>
          <%= link_to edit_mood_path(mood) do %>
            <div class="card-header"><%= mood.name %></div>
          <% end %>
        </h2>
          <div class="card-body">
            <h5 class="card-title">
              min price: <%= mood.min_price%>
              max price: <%= mood.max_price%>
            </h5>
            <p class="card-text">tastes: <%= mood.tastes.to_sentence %></p>
            <p class="card-text">ambient: <%= mood.query%> </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'Novo Mood', new_mood_path %>
