<header class="background" style="min-height: 100vh; heigh: 100%">
<div class="mood-menu-container">
 <h3 class='text-center pt-4 my-2'>My mood menu </h3>
  <% @moods.each do |mood| %>
    <div class="card my-3 align-items-stretch">
      <div class="card-header row align-items-center">
        <div class="col-10 align-self-center fs-4">
          <%= mood.name %>
          <%= link_to edit_mood_path(mood) do %>
          <i class="far fa-edit fs-4"></i>
          <% end %>
        </div>
        <div class="col-2 text-end">
          <%= link_to mood_path(mood), method: :delete, data: {confirm: "Are you sure?"} do %>
            <i class="fas fa-trash-alt text-danger fs-4"></i>
          <% end %>
        </div>
      </div>
      <div class="m-3">
        <h5 class="card-title">
          Price: <%= "#{mood.min_price} - #{mood.max_price}" %>
        </h5>
        <h4 class="card-title">
          Radius: <%= mood.near.to_i / 1000 %> km
        </h4>
        <h5 class="card-title">
          <% if @query %>
            Ambiance: <%= mood.query %>
          <% end %>
        </h5>
        <h5 class="card-title">
          <% if mood.tastes %>
            Tastes: <%= mood.tastes.to_sentence %>
          <% end %>
        </h5>
      </div>
    </div>
  <% end %>
  <div class="col-lg-12">
  <div class="new-mood-btn">
    <%= link_to 'Create your mood!', new_mood_path, class: "btn-choose ease-out" %>
  </div>
</div>
</header>
