
<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<% @results.collect do |result| %>
  <ul><li><%= "#{result['name']}" %></ul></li>
<% end %>

 <%= link_to "Resultado", result_path(query: params[:query]) %>
 <%= link_to "Voltar", root_path %>
