<div class="section-main">
  <%= link_to '<i class="fas fa-chevron-left"></i>'.html_safe, root_path, class: "btn-voltar" %>
  <div class="title-results">
    <%= "Top" %>
    <%= @results.count %>
    <%= "places near you:" %>
  </div>
  <div class="mapbox" style="width: 90%; height: 500px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <%= link_to "Choose one for me!", result_path(query: params[:query], mood: params[:mood]), class: "btn-leave-page" %>
</div>
