<div class="section-main">
  <div class="results-list">
    <div class="results">
      <% @results.collect do |result| %>
        <ul><li class="result-line"><%= "#{result['name']}" %></ul></li>
      <% end %>
    </div>
    <div>
      <%= link_to "Choose for me!", result_path(query: params[:query]), class:"index-btn" %>
      <%= link_to "Back", root_path, class:"index-btn" %>
    </div>
  </div>
  <div class="mapbox" style="width: 80%; height: 500px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
