
<section class="result-section">
  <%= link_to '<i class="fas fa-chevron-left"></i>'.html_safe, root_path, class: "btn-voltar" %>
  <div class="mapbox" style="width: 80%; height: 500px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  <div class="result-random">
    <ul>
      <li>Nome: <%= @show_result['name'] %></li>
      <li>Distância: <%= @show_result['distance'] %></li>
      <li>Descrição: <%= @show_result['description'] %></li>
      <li>Telefone: <%= @show_result['tel'] %></li>
      <li>Website: <%= @show_result['website'] %></li>
      <li>Rating: <%= @show_result['rating'] %></li>
      <li>Preço: <%= @show_result['price'] %></li>
      <li>Endereço: <%= @show_result['location']['address'] %></li>
      <%# <li>Tastes <% @show_result['tastes'] </li> %>
      <% if @show_result['social_media']['instagram'] %>
        <li>Instagram <%= @show_result['social_media']['instagram'] %></li>
      <% end %>
      <% if @show_result['social_media']['facebook_id'] %>
        <li>Facebook <%= @show_result['social_media']['facebook_id'] %></li>
      <% end %>
    </ul>
  </div>
  <div class="btn">
    <%= link_to "Nah, choose another", result_path(query: params[:query]) %>
    <%= link_to "Directions", root_path, class: "btn-googlemaps" %>
    <%= link_to "Delivery", root_path, class: "btn-yelp" %>
  </div>
</section>
