
<section class="result-section">
  <%= link_to '<i class="fas fa-chevron-left"></i>'.html_safe, root_path, class: "btn-voltar" %>
  <div class="title-results-random">
    <%= "Today's choice is:" %> <br />
    <%= @show_result['name'] %>
  </div>
  <div class="mapbox" style="width: 80%; height: 500px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="result-random">
    <ul class="fa-ul">
      <li>Distance: <%= @show_result['distance'] %></li>
      <li>Description: <%= @show_result['description'] %></li>

      <li><span class="fa-li"><i class="fas fa-phone-alt"></i></span><%= @show_result['tel'] %></li>
      <li><span class="fa-li"><i class="fal fa-star"></i></span><%= @show_result['rating'] %></li>

      <li>Price: <%= @show_result['price'] %></li>
      <li>Address: <%= @show_result['location']['address'] %></li>
      <%# <li>Tastes <% @show_result['tastes'] </li> %>
      <li>Website: <%= @show_result['website'] %></li>
      <% if @show_result['social_media']['instagram'] %>
        <li>Instagram <%= @show_result['social_media']['instagram'] %></li>
      <% end %>
      <% if @show_result['social_media']['facebook_id'] %>
        <li>Facebook <%= @show_result['social_media']['facebook_id'] %></li>
      <% end %>
    </ul>
  </div>
  <div style="width: 80%;">
    <%= link_to "Nah, choose another", result_path(query: params[:query]), class: "btn btn-choose w-100 mb-2" %>
    <%= link_to "Directions", root_path, class: "btn btn-leave-page w-100 mb-2" %>
    <%= link_to "Delivery", root_path, class: "btn btn-leave-page w-100 mb-2" %>
  </div>
</section>
