<div class="about-section">
  <h1>Our Team</h1>
    <div class="text-about">
      <p>We graduated from Le Wagon Full-Stack Web Development course in march 2022.</p>
    </div>
    <div class="text-about">
    <p>To know what we're up to nowadays, click bellow and get in touch!</p>
    </div>
</div>
<div class="row-about">
  <div class="column-about">
    <div class="card-about first">
      <%= image_tag "perfil-caio.jpg", class: "picture-about"%>
      <div class="container-about">
        <%# <h3>Caio Mendonça</h3> %>
        <%= link_to "Caio Mendonça", 'https://www.linkedin.com/in/caiomendonca/', class: "button-about ease-out" %>
      </div>
    </div>
  </div>
  <div class="column-about">
    <div class="card-about">
      <%= image_tag "perfil-leon.jpg", class: "picture-about"%>
      <div class="container-about">
        <%# <h3>Leon Siqueira</h3> %>
        <%= link_to "Leon Siqueira", 'https://www.linkedin.com/in/leon-siqueira/', class: "button-about ease-out" %>
      </div>
    </div>
  </div>
  <div class="column-about">
    <div class="card-about">
      <%= image_tag "perfil-maressa.jpg", class: "picture-about"%>
      <div class="container-about">
        <%# <h3>Maressa Alves</h3> %>
        <%= link_to "Maressa Alves", 'https://www.linkedin.com/in/maressa.alves/', class: "button-about ease-out" %>
      </div>
    </div>
  </div>
</div>
