<header class="header-container">
  <div class="container header-container-main">
    <div class="header-container-text">
      <h1 class="title">Don`t overthink it!</h1>
      <h3 class="subtitle">Let us find the right food for your mood.</h3>
    </div>
    <div class="form-responsive">
      <%= form_with url: "results", method: :get do |form| %>
      <%# <%= form.label :query, "Search for:" %>
        <div class="row">
          <div class="col-lg-8 d-flex">
            <%= form.text_field :query, placeholder: "Enter your address", class:"form-search ps-3 align-self-end w-100"  %>
          </div>
          <div class="col-lg-8 d-flex select-tag">
            <%= select_tag(:taste, options_for_select(['','Romantic','Cozy','Sushi','Tacos', 'Pizza'])) %>
          </div>
          <div class="col-lg-3">
            <%= form.submit "Search", class:"btn btn-botao" %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
  <div class="header-image">
    <%= image_tag "img-home.svg"%>
    <div class="image-text">
      <%# <h2 class="subtitle">I’ll be there for yoooou!</h2> %>
    </div>
  </div>
</header>

<section class="section-help">
  <div class="moods-categories">
    <h1 class="help-title">Having trouble choosing where to eat?</h2>
  </div>
  <div class="section-container">
    <div class="section-card">
      <%= image_tag "Address.svg", class:"card-icon" %>
      <h3>What-The-Mood?</h3>
      <p>To recieve some suggestions of cool restaurants nearby, start telling us your address and choose a mood for the meal. </p>
    </div>
     <div class="section-card">
      <%= image_tag "Choosing-Food.svg", class:"card-icon" %>
      <h3>Look around</h3>
      <p>We'll show you 10 awesome options near you according to your mood. Then, you can click to randomly sort one of them. </p>
    </div>
     <div class="section-card">
      <%= image_tag "Food.svg", class:"card-icon" %>
      <h3>Go for it!</h3>
      <p>Don't overthink it, just take the directions and go have some fun in a great place! Bon Appetit! </p>
    </div>
  </div>
</section>
