<header class="header-container">
  <div class="container header-container-main">
    <div class="header-container-text">
      <h1 class="title">Don`t overthink it!</h1>
      <h3 class="subtitle">Let us find the right food for your mood.</h3>
    </div>
    <div class="form-responsive">
      <%= form_with url: "results", method: :get do |form| %>
        <%# <%= form.label :query, "Search for:" %>
        <div class="row">
          <div class="col-lg-8 d-flex">
            <%= form.text_field :query, placeholder: "Enter your address", class:"form-search ps-3 align-self-end w-100"  %>
          </div>
          <div class="col-lg-3">
            <%= form.submit "Search", class:"btn btn-primary w-md-75" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="header-image">
    <%= image_tag "img-home.svg"%>
    <div class="image-text">
      <%# <h2 class="subtitle">I’ll be there for yoooou!</h2> %>
    </div>
  </div>
</header>

<section class="section-help">
  <div class="moods-categories">
    <h1 class="help-title">Having trouble choosing where to eat?</h2>
  </div>
  <div class="section-container">
    <div class="section-card">
      <img src="https://gopuff.com/go/Value-Prop-1.svg" style="width 40px">
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, commodi. Asperiores ut, esse amet, suscipit minima, velit necessitatibus fuga ipsum voluptates magnam praesentium aperiam consectetur. Porro enim vel quos alias!</p>
    </div>
     <div class="section-card">
      <img src="https://gopuff.com/go/Value-Prop-1.svg" style="width 40px">
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, commodi. Asperiores ut, esse amet, suscipit minima, velit necessitatibus fuga ipsum voluptates magnam praesentium aperiam consectetur. Porro enim vel quos alias!</p>
    </div>
     <div class="section-card">
      <img src="https://gopuff.com/go/Value-Prop-1.svg" style="width 40px">
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, commodi. Asperiores ut, esse amet, suscipit minima, velit necessitatibus fuga ipsum voluptates magnam praesentium aperiam consectetur. Porro enim vel quos alias!</p>
    </div>
  </div>
</section>
